<%- include('partials/head') %>

<div class="container">
  <header class="d-flex flex-direction-column align-items-center justify-content-between bg-color p-2 mb-3">
    <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Chat Rooms
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="/atlantaroom">Atlanta Room</a></a>
        <a class="dropdown-item" href="/codingroom">Coding Room
        <a class="dropdown-item" href="/petroom">Pet Room</a>
      </div>
    </div>
    <div>
      <h1>ZDG Chat - Main Room</h1>
    </div>
    <div>
      <button type="submit" class="btn btn-secondary">Logout</button>
    </div>
  </header>
  <section class="d-flex flex-direction-column border border-secondary rounded">
    <div id="mainChat" class="">
      <div id="chatHeader" class="bg-color d-flex justify-content-start">
        <h2 class="ml-2">Main Chat, Welcome <%= name %></h2>
      </div>
      <div id="chatBody">
        <ul id="messages" class="list-group w-80 flex-grow-1 overflow-auto" style="list-style-type: none;">
          <!-- Chat messages go here -->
        </ul>
      </div>
      <div id="chatInput">
        <form class="chat-form d-flex">
          <input class="form-control chat-input w-100" id="chat-message" />
          <button type="submit" class="btn btn-primary">
            Send
          </button>
        </form>
      </div>

    </div>
    <div id="onlineUsers" class="border-left border-primary">
      <div id="onlineHeader" class="bg-color d-flex justify-content-center">
        <h2>Online</h2>
      </div>
      <div id="users">
        <ul id="messages" class="list-group w-80 flex-grow-1 overflow-auto" style="list-style-type: none;">
          <!-- Chat messages go here -->
        </ul>
      </div>
      
    </div>
  
  </section>
  
    <!-- <button onclick="location.href = '/private'" class="btn btn-secondary ml-3 p-1">Private Chat</button>
  </div>
  <div class="d-flex h-100">
    <div class="m-3">
      <p class="ml-3">Chat</p>
    </div>
    <ul id="messages" class="list-group w-80 flex-grow-1 overflow-auto" style="list-style-type: none;">
      Chat messages go here
    </ul>
    <div class="m-3">
      <p class="ml-3">Online</p>
    </div>
    <ul id="online" class="list-group w-20 flex-grow-1 overflow-auto" style="list-style-type: none;">
      Online users go here
    </ul>
  </div>
  <div class="card-footer">
    <div class="typing mb-3"></div>
    <form class="chat-form d-flex">
      <input class="form-control chat-input w-100" id="chat-message" />
      <button type="submit" class="btn btn-primary">
        Send
      </button>
    </form> -->
  </div>
</div>

<%- include('partials/foot') %>
