h1 {
  font-family: Arial;
  font-size: 50px;
  color: royalblue;
}

h2 {
  color: royalblue;
}

.center {
  margin: 0 auto;
}

.bg-color {
  background-color: lightgrey;
}

section {
  height: 90vh;
  width: 100%;
}

#onlineUsers {
  width: 30%;
  height: 100%;
}

#mainChat {
  width: 70%;
  height: 100%;
}

#chatHeader {
  height: 5%;
}

#chatBody {
  height: 85%;
}

#chatInput {
  height: 10%;
}

.typing {
  height: 27%;
}

.chat-form {
  height: 50%;
}

#onlineHeader {
  height: 5%;
}

#users {
  height: 95%;
}